@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">
    <br />
    <br />
    <h2 style="color: purple">@ViewData["Title"]</h2>

    <br />
    <br />
    <h3>Erciyes sokak Ihlamur Apt. No:5</h3>
    <h3>Başakşehir İstanbul</h3>
    <br />
    <h3>E-posta adresimiz:</h3>
    <h3><a href="mailto:ozgurozbey921@gmail.com">ozgurozbey921@gmail.com</a></h3>
</div>